In [1]:
import numpy as np
import pandas as pd

### Reading the data from csv

In [2]:
mpg_df = pd.read_csv('..//0.datasets/mpg.csv')

In [3]:
mpg_df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

## Grouping the data in dataframe
perform the aggregations on grouped data  
Adding an aggregate method call. To use a grouped object, you need to tell pandas how you want to aggregate the data.  
**common aggregations**  

    mean(): Compute mean of groups  
    sum(): Compute sum of group values  
    size(): Compute group sizes  
    count(): Compute count of group  
    std(): Standard deviation of groups  
    var(): Compute variance of groups  
    sem(): Standard error of the mean of groups  
    describe(): Generates descriptive statistics  
    first(): Compute first of group values  
    last(): Compute last of group values  
    nth() : Take nth value, or a subset if n is a list  
    min(): Compute min of group values  
    max(): Compute max of group values

In [6]:
mpg_df.groupby('cylinders').describe()

             mpg                                                        \
           count       mean       std   min    25%    50%    75%   max
cylinders
3            4.0  20.550000  2.564501  18.0  18.75  20.25  22.05  23.7
4          204.0  29.286765  5.710156  18.0  25.00  28.25  33.00  46.6
5            3.0  27.366667  8.228204  20.3  22.85  25.40  30.90  36.4
6           84.0  19.985714  3.807322  15.0  18.00  19.00  21.00  38.0
8          103.0  14.963107  2.836284   9.0  13.00  14.00  16.00  26.6

          displacement              ... model_year       origin            \
                 count        mean  ...        75%   max  count      mean
cylinders                           ...
3                  4.0   72.500000  ...      77.75  80.0    4.0  3.000000
4                204.0  109.796569  ...      80.00  82.0  204.0  1.985294
5                  3.0  145.000000  ...      79.50  80.0    3.0  2.000000
6                 84.0  218.142857  ...      78.00  82.0   84.0  1.190476
8                103.0  345.009709  ...      76.00  81.0  103.0  1.000000


                std  min  25%  50%  75%  max
cylinders
3          0.000000  3.0  3.0  3.0  3.0  3.0
4          0.833285  1.0  1.0  2.0  3.0  3.0
5          0.000000  2.0  2.0  2.0  2.0  2.0
6          0.548298  1.0  1.0  1.0  1.0  3.0
8          0.000000  1.0  1.0  1.0  1.0  1.0

[5 rows x 48 columns]

In [7]:
mpg_df.groupby('cylinders').describe().transpose()

cylinders                     3            4            5            6  \
mpg          count     4.000000   204.000000     3.000000    84.000000
             mean     20.550000    29.286765    27.366667    19.985714
             std       2.564501     5.710156     8.228204     3.807322
             min      18.000000    18.000000    20.300000    15.000000
             25%      18.750000    25.000000    22.850000    18.000000
             50%      20.250000    28.250000    25.400000    19.000000
             75%      22.050000    33.000000    30.900000    21.000000
             max      23.700000    46.600000    36.400000    38.000000
displacement count     4.000000   204.000000     3.000000    84.000000
             mean     72.500000   109.796569   145.000000   218.142857
             std       5.000000    21.512147    33.286634    32.293512
             min      70.000000    68.000000   121.000000   145.000000
             25%      70.000000    91.000000   126.000000   199.750000
             50%      70.000000   105.000000   131.000000   228.000000
             75%      72.500000   121.250000   157.000000   250.000000
             max      80.000000   156.000000   183.000000   262.000000
weight       count     4.000000   204.000000     3.000000    84.000000
             mean   2398.500000  2308.127451  3103.333333  3198.226190
             std     247.566153   347.093936   374.343870   332.297419
             min    2124.000000  1613.000000  2830.000000  2472.000000
             25%    2278.500000  2045.750000  2890.000000  2941.250000
             50%    2375.000000  2232.000000  2950.000000  3201.500000
             75%    2495.000000  2566.750000  3240.000000  3430.500000
             max    2720.000000  3270.000000  3530.000000  3907.000000
acceleration count     4.000000   204.000000     3.000000    84.000000
             mean     13.250000    16.601471    18.633333    16.263095
             std       0.500000     2.382210     2.369247     2.021140
             min      12.500000    11.600000    15.900000    11.300000
             25%      13.250000    14.800000    17.900000    15.075000
             50%      13.500000    16.200000    19.900000    16.100000
             75%      13.500000    18.000000    20.000000    17.600000
             max      13.500000    24.800000    20.100000    21.000000
model_year   count     4.000000   204.000000     3.000000    84.000000
             mean     75.500000    77.073529    79.000000    75.928571
             std       3.696846     3.753420     1.000000     3.251638
             min      72.000000    70.000000    78.000000    70.000000
             25%      72.750000    74.000000    78.500000    74.000000
             50%      75.000000    78.000000    79.000000    76.000000
             75%      77.750000    80.000000    79.500000    78.000000
             max      80.000000    82.000000    80.000000    82.000000
origin       count     4.000000   204.000000     3.000000    84.000000
             mean      3.000000     1.985294     2.000000     1.190476
             std       0.000000     0.833285     0.000000     0.548298
             min       3.000000     1.000000     2.000000     1.000000
             25%       3.000000     1.000000     2.000000     1.000000
             50%       3.000000     2.000000     2.000000     1.000000
             75%       3.000000     3.000000     2.000000     1.000000
             max       3.000000     3.000000     2.000000     3.000000

cylinders                     8
mpg          count   103.000000
             mean     14.963107
             std       2.836284
             min       9.000000
             25%      13.000000
             50%      14.000000
             75%      16.000000
             max      26.600000
displacement count   103.000000
             mean    345.009709
             std      46.776376
             min     260.000000
             25%     305.000000
             50%     350.000000
             75%     360.000000
             max     455.000000
weight       count   103.000000
             mean   4114.718447
             std     448.833159
             min    3086.000000
             25%    3799.000000
             50%    4140.000000
             75%    4403.500000
             max    5140.000000
acceleration count   103.000000
             mean     12.955340
             std       2.224759
             min       8.000000
             25%      11.500000
             50%      13.000000
             75%      14.000000
             max      22.200000
model_year   count   103.000000
             mean     73.902913
             std       3.021214
             min      70.000000
             25%      72.000000
             50%      73.000000
             75%      76.000000
             max      81.000000
origin       count   103.000000
             mean      1.000000
             std       0.000000
             min       1.000000
             25%       1.000000
             50%       1.000000
             75%       1.000000
             max       1.000000

In [10]:
df = mpg_df.groupby(['model_year','cylinders']).mean()

In [11]:
df.index

MultiIndex([(70, 4),
            (70, 6),
            (70, 8),
            (71, 4),
            (71, 6),
            (71, 8),
            (72, 3),
            (72, 4),
            (72, 8),
            (73, 3),
            (73, 4),
            (73, 6),
            (73, 8),
            (74, 4),
            (74, 6),
            (74, 8),
            (75, 4),
            (75, 6),
            (75, 8),
            (76, 4),
            (76, 6),
            (76, 8),
            (77, 3),
            (77, 4),
            (77, 6),
            (77, 8),
            (78, 4),
            (78, 5),
            (78, 6),
            (78, 8),
            (79, 4),
            (79, 5),
            (79, 6),
            (79, 8),
            (80, 3),
            (80, 4),
            (80, 5),
            (80, 6),
            (81, 4),
            (81, 6),
            (81, 8),
            (82, 4),
            (82, 6)],
           names=['model_year', 'cylinders'])

In [12]:
df.index.names

FrozenList(['model_year', 'cylinders'])

<a id = 'MultiIndex'></a>
## MultiIndex
### The MultiIndex Object

In [13]:
year_cyl = mpg_df.groupby(['model_year','cylinders']).mean()

In [14]:
year_cyl.index.levels

FrozenList([[70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82], [3, 4, 5, 6, 8]])

### Indexing with Hierarchical index
Full Documentation : https://pandas.pydata.org/pandas-docs/stable/user_guide/advanced.html

In [28]:
year_cyl.head()

                            mpg  displacement       weight  acceleration  \
model_year cylinders
70         4          25.285714    107.000000  2292.571429     16.000000
           6          20.500000    199.000000  2710.500000     15.500000
           8          14.111111    367.555556  3940.055556     11.194444
71         4          27.461538    101.846154  2056.384615     16.961538
           6          18.000000    243.375000  3171.875000     14.750000

                        origin
model_year cylinders
70         4          2.285714
           6          1.000000
           8          1.000000
71         4          1.923077
           6          1.000000

### Fetching the data using outer index

In [16]:
year_cyl.loc[70]

                 mpg  displacement       weight  acceleration    origin
cylinders
4          25.285714    107.000000  2292.571429     16.000000  2.285714
6          20.500000    199.000000  2710.500000     15.500000  1.000000
8          14.111111    367.555556  3940.055556     11.194444  1.000000

In [21]:
year_cyl.loc[[70,72]]

                            mpg  displacement       weight  acceleration  \
model_year cylinders
70         4          25.285714    107.000000  2292.571429     16.000000
           6          20.500000    199.000000  2710.500000     15.500000
           8          14.111111    367.555556  3940.055556     11.194444
72         3          19.000000     70.000000  2330.000000     13.500000
           4          23.428571    111.535714  2382.642857     17.214286
           8          13.615385    344.846154  4228.384615     13.000000

                        origin
model_year cylinders
70         4          2.285714
           6          1.000000
           8          1.000000
72         3          3.000000
           4          1.928571
           8          1.000000

### Fetch single row

In [22]:
year_cyl.loc[(70,8)]

mpg               14.111111
displacement     367.555556
weight          3940.055556
acceleration      11.194444
origin             1.000000
Name: (70, 8), dtype: float64

### Grab Based on Cross-section with .xs()
This method takes a key argument to select data at a particular level of a MultiIndex.  

**Parameters** 

    key : label or tuple of label  
        Label contained in the index, or partially in a MultiIndex.  
    axis : {0 or 'index', 1 or 'columns'}, default 0  
        Axis to retrieve cross-section on.  
    level : object, defaults to first n levels (n=1 or len(key))  
        In case of a key partially contained in a MultiIndex, indicate  
        which levels are used. Levels can be referred by label or position.

In [23]:
year_cyl.xs(key =70, axis =0, level ='model_year')

                 mpg  displacement       weight  acceleration    origin
cylinders
4          25.285714    107.000000  2292.571429     16.000000  2.285714
6          20.500000    199.000000  2710.500000     15.500000  1.000000
8          14.111111    367.555556  3940.055556     11.194444  1.000000

In [24]:
# below statement returns all the rows for each model year which have 4 cylinders
year_cyl.xs(key = 4, level = 'cylinders')
#This function helps us grab the row/data based on the inner index for each outer index level

                  mpg  displacement       weight  acceleration    origin
model_year
70          25.285714    107.000000  2292.571429     16.000000  2.285714
71          27.461538    101.846154  2056.384615     16.961538  1.923077
72          23.428571    111.535714  2382.642857     17.214286  1.928571
73          22.727273    109.272727  2338.090909     17.136364  2.000000
74          27.800000     96.533333  2151.466667     16.400000  2.200000
75          25.250000    114.833333  2489.250000     15.833333  2.166667
76          26.766667    106.333333  2306.600000     16.866667  1.866667
77          29.107143    106.500000  2205.071429     16.064286  1.857143
78          29.576471    112.117647  2296.764706     16.282353  2.117647
79          31.525000    113.583333  2357.583333     15.991667  1.583333
80          34.612000    111.000000  2360.080000     17.144000  2.200000
81          32.814286    108.857143  2275.476190     16.466667  2.095238
82          32.071429    118.571429  2402.321429     16.703571  1.714286

                            mpg  displacement       weight  acceleration  \
model_year cylinders
70         4          25.285714    107.000000  2292.571429     16.000000
           6          20.500000    199.000000  2710.500000     15.500000
           8          14.111111    367.555556  3940.055556     11.194444
71         4          27.461538    101.846154  2056.384615     16.961538
           6          18.000000    243.375000  3171.875000     14.750000
           8          13.428571    371.714286  4537.714286     12.214286
72         3          19.000000     70.000000  2330.000000     13.500000
           4          23.428571    111.535714  2382.642857     17.214286
           8          13.615385    344.846154  4228.384615     13.000000
73         3          18.000000     70.000000  2124.000000     13.500000
           4          22.727273    109.272727  2338.090909     17.136364
           6          19.000000    212.250000  2917.125000     15.687500
           8          13.200000    365.250000  4279.050000     12.250000
74         4          27.800000     96.533333  2151.466667     16.400000
           6          17.857143    230.428571  3320.000000     16.857143
           8          14.200000    315.200000  4438.400000     14.700000
75         4          25.250000    114.833333  2489.250000     15.833333
           6          17.583333    233.750000  3398.333333     17.708333
           8          15.666667    330.500000  4108.833333     13.166667
76         4          26.766667    106.333333  2306.600000     16.866667
           6          20.000000    221.400000  3349.600000     17.000000
           8          14.666667    324.000000  4064.666667     13.222222
77         3          21.500000     80.000000  2720.000000     13.500000
           4          29.107143    106.500000  2205.071429     16.064286
           6          19.500000    220.400000  3383.000000     16.900000
           8          16.000000    335.750000  4177.500000     13.662500
78         4          29.576471    112.117647  2296.764706     16.282353
           5          20.300000    131.000000  2830.000000     15.900000
           6          19.066667    213.250000  3314.166667     16.391667
           8          19.050000    300.833333  3563.333333     13.266667
79         4          31.525000    113.583333  2357.583333     15.991667
           5          25.400000    183.000000  3530.000000     20.100000
           6          22.950000    205.666667  3025.833333     15.433333
           8          18.630000    321.400000  3862.900000     15.400000
80         3          23.700000     70.000000  2420.000000     12.500000
           4          34.612000    111.000000  2360.080000     17.144000
           5          36.400000    121.000000  2950.000000     19.900000
           6          25.900000    196.500000  3145.500000     15.050000
81         4          32.814286    108.857143  2275.476190     16.466667
           6          23.428571    184.000000  3093.571429     15.442857
           8          26.600000    350.000000  3725.000000     19.000000
82         4          32.071429    118.571429  2402.321429     16.703571
           6          28.333333    225.000000  2931.666667     16.033333

                        origin
model_year cylinders
70         4          2.285714
           6          1.000000
           8          1.000000
71         4          1.923077
           6          1.000000
           8          1.000000
72         3          3.000000
           4          1.928571
           8          1.000000
73         3          3.000000
           4          2.000000
           6          1.250000
           8          1.000000
74         4          2.200000
           6          1.000000
           8          1.000000
75         4          2.166667
           6          1.000000
           8          1.000000
76         4          1.866667
           6          1.300000
           8          1.000000
77         3          3.000000
           4          1.857143
           6          1.400000
           8          1.000000
78         4          2.117647
           5          2.000000
           6          1.166667
           8          1.000000
79         4          1.583333
           5          2.000000
           6          1.000000
           8          1.000000
80         3          3.000000
           4          2.200000
           5          2.000000
           6          2.000000
81         4          2.095238
           6          1.714286
           8          1.000000
82         4          1.714286
           6          1.000000

In [33]:
df = mpg_df[mpg_df['cylinders'].isin([6,8])].groupby(['model_year','cylinders']).mean()

In [34]:
df.swaplevel()

                            mpg  displacement       weight  acceleration  \
cylinders model_year
6         70          20.500000    199.000000  2710.500000     15.500000
8         70          14.111111    367.555556  3940.055556     11.194444
6         71          18.000000    243.375000  3171.875000     14.750000
8         71          13.428571    371.714286  4537.714286     12.214286
          72          13.615385    344.846154  4228.384615     13.000000
6         73          19.000000    212.250000  2917.125000     15.687500
8         73          13.200000    365.250000  4279.050000     12.250000
6         74          17.857143    230.428571  3320.000000     16.857143
8         74          14.200000    315.200000  4438.400000     14.700000
6         75          17.583333    233.750000  3398.333333     17.708333
8         75          15.666667    330.500000  4108.833333     13.166667
6         76          20.000000    221.400000  3349.600000     17.000000
8         76          14.666667    324.000000  4064.666667     13.222222
6         77          19.500000    220.400000  3383.000000     16.900000
8         77          16.000000    335.750000  4177.500000     13.662500
6         78          19.066667    213.250000  3314.166667     16.391667
8         78          19.050000    300.833333  3563.333333     13.266667
6         79          22.950000    205.666667  3025.833333     15.433333
8         79          18.630000    321.400000  3862.900000     15.400000
6         80          25.900000    196.500000  3145.500000     15.050000
          81          23.428571    184.000000  3093.571429     15.442857
8         81          26.600000    350.000000  3725.000000     19.000000
6         82          28.333333    225.000000  2931.666667     16.033333

                        origin
cylinders model_year
6         70          1.000000
8         70          1.000000
6         71          1.000000
8         71          1.000000
          72          1.000000
6         73          1.250000
8         73          1.000000
6         74          1.000000
8         74          1.000000
6         75          1.000000
8         75          1.000000
6         76          1.300000
8         76          1.000000
6         77          1.400000
8         77          1.000000
6         78          1.166667
8         78          1.000000
6         79          1.000000
8         79          1.000000
6         80          2.000000
          81          1.714286
8         81          1.000000
6         82          1.000000

In [35]:
df.sort_index(level = 'cylinders', ascending = False)

,,mpg,displacement,weight,acceleration,origin
model_year,cylinders,,,,,
81,8,26.600000,350.000000,3725.000000,19.000000,1.000000
79,8,18.630000,321.400000,3862.900000,15.400000,1.000000
78,8,19.050000,300.833333,3563.333333,13.266667,1.000000
77,8,16.000000,335.750000,4177.500000,13.662500,1.000000
76,8,14.666667,324.000000,4064.666667,13.222222,1.000000
75,8,15.666667,330.500000,4108.833333,13.166667,1.000000
74,8,14.200000,315.200000,4438.400000,14.700000,1.000000
73,8,13.200000,365.250000,4279.050000,12.250000,1.000000
72,8,13.615385,344.846154,4228.384615,13.000000,1.000000
71,8,13.428571,371.714286,4537.714286,12.214286,1.000000
70,8,14.111111,367.555556,3940.055556,11.194444,1.000000
82,6,28.333333,225.000000,2931.666667,16.033333,1.000000
81,6,23.428571,184.000000,3093.571429,15.442857,1.714286
80,6,25.900000,196.500000,3145.500000,15.050000,2.000000
79,6,22.950000,205.666667,3025.833333,15.433333,1.000000
78,6,19.066667,213.250000,3314.166667,16.391667,1.166667
77,6,19.500000,220.400000,3383.000000,16.900000,1.400000
76,6,20.000000,221.400000,3349.600000,17.000000,1.300000
75,6,17.583333,233.750000,3398.333333,17.708333,1.000000
74,6,17.857143,230.428571,3320.000000,16.857143,1.000000
73,6,19.000000,212.250000,2917.125000,15.687500,1.250000
71,6,18.000000,243.375000,3171.875000,14.750000,1.000000
70,6,20.500000,199.000000,2710.500000,15.500000,1.000000

In [36]:
df.sort_index(level = 'model_year', ascending = False)

                            mpg  displacement       weight  acceleration  \
model_year cylinders
82         6          28.333333    225.000000  2931.666667     16.033333
81         8          26.600000    350.000000  3725.000000     19.000000
           6          23.428571    184.000000  3093.571429     15.442857
80         6          25.900000    196.500000  3145.500000     15.050000
79         8          18.630000    321.400000  3862.900000     15.400000
           6          22.950000    205.666667  3025.833333     15.433333
78         8          19.050000    300.833333  3563.333333     13.266667
           6          19.066667    213.250000  3314.166667     16.391667
77         8          16.000000    335.750000  4177.500000     13.662500
           6          19.500000    220.400000  3383.000000     16.900000
76         8          14.666667    324.000000  4064.666667     13.222222
           6          20.000000    221.400000  3349.600000     17.000000
75         8          15.666667    330.500000  4108.833333     13.166667
           6          17.583333    233.750000  3398.333333     17.708333
74         8          14.200000    315.200000  4438.400000     14.700000
           6          17.857143    230.428571  3320.000000     16.857143
73         8          13.200000    365.250000  4279.050000     12.250000
           6          19.000000    212.250000  2917.125000     15.687500
72         8          13.615385    344.846154  4228.384615     13.000000
71         8          13.428571    371.714286  4537.714286     12.214286
           6          18.000000    243.375000  3171.875000     14.750000
70         8          14.111111    367.555556  3940.055556     11.194444
           6          20.500000    199.000000  2710.500000     15.500000

                        origin
model_year cylinders
82         6          1.000000
81         8          1.000000
           6          1.714286
80         6          2.000000
79         8          1.000000
           6          1.000000
78         8          1.000000
           6          1.166667
77         8          1.000000
           6          1.400000
76         8          1.000000
           6          1.300000
75         8          1.000000
           6          1.000000
74         8          1.000000
           6          1.000000
73         8          1.000000
           6          1.250000
72         8          1.000000
71         8          1.000000
           6          1.000000
70         8          1.000000
           6          1.000000

### aggregate -- agg()

In [37]:
mpg_df.agg(['mean','std'])

,mpg,cylinders,displacement,weight,acceleration,model_year,origin
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055

In [38]:
mpg_df.agg(['mean','std'])['mpg']

mean    23.514573
std      7.815984
Name: mpg, dtype: float64

In [39]:
mpg_df.agg({'mpg':['max','min'] , 'weight' : ['std','mean']})

       mpg       weight
max   46.6          NaN
mean   NaN  2970.424623
min    9.0          NaN
std    NaN   846.841774